* {
    padding: 0;
    margin: 0;
}

body {
    font-size: 16px;
}

@font-face {
    font-family: Gotham;
    src: url(../fonts/GothamPro-Black.ttf);
}

@font-face {
    font-family: BrandonGrotesque-Bold;
    src: url(../fonts/BrandonGrotesque-Bold);
}

@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: Lato;
    src: url(../fonts/Lato-Regular.ttf);
}

.header {
    height: 93px;
    display: flex;
    justify-content: flex-end;
}

.logo {
    width: 19%;
}

.logo {
    &__position {
    padding-top: 22px;
    }
}

.nav-wrap {
    padding-top: 30px;
    width: 63.8%;
}

.navigation {
    &__item {
    padding: 12px 19px;
    font-size: 0.84em;
    color: #999;
    text-decoration: none;
    font-family: Lato;
        &:hover {
    background-color: #ffbb42;
    color:#fff;
    cursor: pointer;
    border-radius: 3px;
        }
        &:active {
            background-color: #fea300;
        }
    }    
}

.form {
    &__button {
        &:active {
            background-color: #fea300;
        }
    }
}

.banner {
    background-color: #709dca;
    height: 589px;
}

.titles {
    &__banner {
    padding-top: 110px;
    }
}

.title {
    text-transform: uppercase;
    font-size: 1.875em;
    font-family: Gotham;
    color:#394b50;
    text-align: center;
}

.subtitle {
    color: #717b7e;
    font-family: OpenSans;
    font-size: 1em;
    text-align: center;
    font-weight: 300;
}

.title {
    &_color_white {
    color: #fff;
    }
}

.title {
    &_size_35px {
    font-size: 2.19em;
    }
}

.subtitle {
    &_color_white {
    color: white;
    }
}

.form-wrap {
    margin-top: 30px;
    text-align: center;
}

.form {
    &__name, &__email, &__numb {
    width: 237px;
    height: 46px;
    border: none;
    border-radius: 3px;
    font-family: OpenSans;
    font-size: 0.81em;
    margin-right: 5px;
    padding-left: 44px;
        &::placeholder {
    font-family: OpenSans;
    font-size: 1em;
    color: #b6b6b6;
        }
    }
}

.form__name:focus, .form__email:focus, .form__numb:focus, .form__submit:focus {
    outline: none;
}

.form {
    &__name {
    background-image: url(../images/form__name-img.png);
    background-repeat: no-repeat;
    background-position: 15px 15px;
    }
    &__email {
    background-image: url(../images/form__email-img.png);
    background-repeat: no-repeat;
    background-position: 15px 17px;
    }
    &__numb {
    background-image: url(../images/form__numb-img.png);
    background-repeat: no-repeat;
    background-position: 15px 16px;
    }
    &__button {
    width: 211px;
    height: 46px;
    border: none;
    border-radius: 3px;
    font-family: OpenSans;
    font-size: 0.875em;
    color: #fff;
    background-color: #ffbb42;
    cursor: pointer;
        &:focus {
    outline: none;
        }
    }
}

.service {
    width: 100%;
}

.srv-content-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 140px;
}

.srv {
    &__position {
        margin-top: 80px;
    }
}

.titles {
    &__service {
    padding-top: 200px;
    }
}

.srv-content {
    width: 35%;
    min-width: 510px;
    &__logo {
    float: left;
    }
    &__title {
    font-family: Lato;
    font-size: 1em;
    font-weight: bold;
    padding: 3px 0 0 80px;
    text-transform: uppercase;
    }
    &__text {
    font-family: OpenSans;
    font-size: 0.8125em;
    padding: 15px 60px 0 80px;
    line-height: 22px;
        &_padding-right_20 {
    padding-right: 20px;
        }
    }
    &__logo_padding-left_15 {
    padding-left: 15px;
    }
}

.about-us {
    height: 622px;
    background-color: #ffc155;
    width: 100%;
    background-image: url(../images/about-us.jpg);
    background-repeat: no-repeat;
    background-size: 50% 100%;
    display: flex;
    justify-content: flex-end;
        &__position {
    padding: 160px 264px 0 0;
    }
}

.about-cnt {
    width: 29.7%;
}

.about {
    &__title {
    font-family: Gotham;
    color: #fff;
    font-size: 1.875em;
    text-transform: uppercase;
    }
    &__text {
    margin-top: 10px;
    font-family: OpenSans;
    color: #fff;
    font-size: 0.81em;
    line-height: 24px;
    }
    &__button {
    margin-top: 20px;
    font-family: OpenSans;
    color: #fff;
    font-size: 0.875em;
    text-transform: uppercase;
    padding: 15px 30px;
    border: 1px #e7ad48 solid;
    background-color: transparent;
    border-radius: 3px;
    cursor: pointer;
        &:hover {
        background-color: #ffbb42;
        }
        &:active {
        background-color: #fea300;
        }
        &:focus {
        outline: none;
        }
    }
}

.price {
    background-color:  #e7edf3;
}

.titles {
    &__price {
    padding-top: 135px;
    }
}

.price-box-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 140px;
}

.price-box {
    width: 390px;
    height: 440px;
    background-color: #fff;
    border-radius: 2px;
}

.price-cnt {
    padding: 55px 30px 0;
    text-align: center;
    font-family: Lato;
    text-transform: uppercase;
}

.price-title {
    font-size: 1.56em;
    color: #818b95;
    font-weight: lighter;
}

.cost {
    &__position {
    padding: 20px 0;
    }
    &__dlr {
    font-size: 1.875em;
    color: #ffbb42;
    font-weight: bold;
    vertical-align: 22px;
    }
    &__numb {
    font-size: 3.75em;
    color: #ffbb42;
    font-weight: bold;
    line-height: 22px;
    }
    &__month {
    font-family: Lato;
    font-size: 1.25em;
    color: #8b949d;
    }
}

.price-row {
    border-top: 1px #e2e9f0 solid;
    padding: 15px 0;
    color: #c0c5ca;
    font-size: 0.84em;
}

.btn {
    &__submit {
    background-color: #ffbb42;
    color: #fff;
    border: none;
    border-radius: 2px;
    text-transform: uppercase;
    padding: 16px 22px;
    }
}

.price-btn {
    &__position {
    padding-top: 15px;
    }
}

.btn {
    &__submit:focus {
    outline: none;
    }
}

.price-box {
    &_bg-blue {
    background-color: #709dca;
    }
}

.price-title {
    &_text-white {
    color: #fff;
    }
}

.cost {
    &__dlr {
        &_text-white {
        color: #fff;
        }
    }
    &__numb {
        &_text-white {
        color: #fff;
        }
    }
    &__month {
        &_text-white {
        color: #fff;
        }
    }
}

.price-row {
    &_text-white {
        color: #fff;
    }
}

.price-box {
    &_height-500 {
    height: 500px;
    }
}

.price-cnt {
    &_padding-top-85 {
    padding-top: 85px;
    }
}

.works {
    background-color: #fff;
}

.titles {
    &__works {
    padding-top: 155px;
    }
}

.works-content {
    display: flex;
    justify-content: center;
    text-align: center;
}

.step {
    width: 13%;
    height: 256px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 226px;
    position: relative;
    &__position {
    padding: 80px 30px 90px;
    }
}

.arrow-1, .arrow-3 {
    position: absolute;
    top: 50px;
    left: 80%;
}

.arrow-2 {
    position: absolute;
    transform: rotate(178deg);
    top: 140px;
    left: 75%;
}

.step-logo {
    &__img {
    max-width: 100%;
    }
}

.step {
    &__title {
    font-size: 1.25em;
    font-family: Lato;
    text-transform: uppercase;
    font-weight: bold;
    color: #4e5d61;
    }
    &__text {
    font-family: OpenSans;
    font-size: 0.81em;
    color: #7b7b7b;
    padding-top: 30px;
    }
}

.works-btn {
    &__position {
    text-align: center;
    padding-bottom: 50px;
    }
}

.client {
    background-color: #ffc155;
}

.client-commit {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
        &__position {
    padding-top: 60px;
    padding-bottom: 160px;
    }
}

.commit {
    display: flex;
    flex-basis: 568px;
    border-radius: 5px;
    background-color: #fff;
    &__position {
        margin: 10px 15px;
    }
}

.human {
    padding: 50px 50px 50px 0px;
}

.photo {
    &__human {
    border-radius: 100%;
    margin: 40px 30px 0px;
    }
}

.human {
    &__text {
    font-family: OpenSans;
    font-size: 0.81em;
    color: #909090;
    padding-bottom: 30px;
    line-height: 22px;
    position: relative;
        &::before {
            content: "\201C";
            font-family: BrandonGrotesque-Bold;
            font-size: 30px;
            color: #7b7b7b;
            font-weight: bold;
            position: absolute;
            left: -20px;
        }
        &::after {
            content: "\201D";
            font-family: BrandonGrotesque-Bold;
            font-size: 30px;
            color: #7b7b7b;
            font-weight: bold;
            position: absolute;
            margin-left: 15px;
            transform: scale(1, -1);
        }
    }
    &__work {
    color: #f78d58;
    text-transform: uppercase;
    font-family: Lato;
    font-size: 0.875em;
    display: inline-block;
    }
    &__career {
    color: #a9b6ba;
    text-transform: uppercase;
    font-family: Lato;
    font-size: 0.875em;
    display: inline-block;
    }
}

.form {
    &__name, &__email {
        &_border-1 {
        border: 1px solid #cbcbcb;
        }
    }
    &__name {
        &_width-305 {
        width: 305px;
        }
    }
    &__email {
        &_width-385 {
        width: 385px;
        }
    }
}

.map {
    display: flex;
    justify-content: center;
    position: relative;
        &__world {
    margin-top: 50px;
    max-width: 100%;
    }
}

.address {
    position: absolute;
    top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .logo {
        width: auto;
    }
}

.cloud {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cloud-text {
    position: absolute;
    text-align: center;
    line-height: 24px;
}

.cloud-title {
    font-family: OpenSans;
    font-size: 0.81em;
    color: #fff;
    text-transform: uppercase;
}

.cloud-address {
    font-family: Lato;
    font-size: 0.81em;
    color: #879295;
}

.cloud-email {
    color: #f5b543;
}

.cut-line {
    margin-top: 55px;
    margin-bottom: 25px;
    width: 100%;
}

.line {
    border: none;
    background-color: #e3e7ec;
    max-width: 1170px;
    width: 95%;
    height: 2px;
    margin: auto;
}

.navigation {
    &__item {
        &_text-black {
        color: #000;
        }
    }
}

.tel {
    font-family: Lato;
    font-size: 1.41em;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    &__nav {
    margin-top: 30px;
    }
}

.footer {
    &__tel {
    margin-top: 30px;
    margin-bottom: 20px;
    }
}

.twitter, .facebook, .google {
    margin-right: 15px;
}

.copyright {
    width: 100%;
    background-color: #709dca;
    color: #fff;
    font-family: OpenSans;
    font-size: 0.81em;
    text-align: center;
    padding: 15px 0px;
}

.footer {
    &__copyright {
    margin-top: 45px;
    }
}

@media screen and (min-width: 1700px) {
    .client-commit {
        width: 68.8%;
        margin: auto;
        justify-content: space-between;
            &__position {
        padding-top: 60px;
        padding-bottom: 160px;
        }
    }
    .commit {
        width: 48.8%;
        flex-basis: auto;
        &__position {
            margin: 15px 0px;
        }
    }
}
@media screen and (max-width: 1304px) {
    .logo {
        width: 8%;
        display: flex;
        justify-content: center;
    }
    .nav-wrap {
        width: auto;
    }
    .header {
        justify-content: space-between;
    }
    .titles {
        &__banner, &__price, &__works {
        padding-top: 40px;
        }
    }
    .srv-content {
        width: 45%;
    }
    .about-us {
        height: 500px;
        &__position {
            padding: 100px 200px 0 0;
        }
    }
}
@media screen and (max-width: 1083px) {
    body {
        font-size: 22px;
    }
    .form {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        &__name, &__email, &__numb {
            display: block;
            margin-bottom: 10px;
            margin-right: 0px;
            width: 305px;
            box-sizing: border-box;
        }
        &__button {
            width: 305px;
        }
    }
    .srv-content-wrap {
        padding-bottom: 40px;
    }
    .about-us {
        background-image: none;
        justify-content: center;
        &__position {
            padding: 0;
            margin: auto;
        }
    }
    .about-cnt {
        width: 70%;
    }
    .price-box-wrap {
        flex-direction: column;
        padding-bottom: 40px;
    }
    .price-box {
        margin-bottom: 30px;
        height: 500px;
    }
    .arrow-1, .arrow-3 {
        left: 75%;
    }
    .arrow-2 {
        left: 70%;
    }
    .copyright {
        padding: 5px 0px;
    }
}
@media screen and (max-width: 920px) {
    .arrow-1, .arrow-2, .arrow-3 {
        display: none;
    }
    .works-content {
        flex-direction: column;
        align-items: center;
    }
    .step {
        width: 50%;
        justify-content: space-around;
        &__position {
            padding: 20px 0px;
        }
    }
    .map {
        padding-top: 40px;
        &__world {
        display: none;
        }
    }
    .address {
        position: static;
    }
}
@media screen and (max-width: 580px) {
    .photo {
        display: none;
    }
    .human {
        padding: 50px;
    }
}
